/* Error: Can't find stylesheet to import.
 *   ,
 * 1 | @import "sass/abstracts/variables";
 *   |         ^^^^^^^^^^^^^^^^^^^^^^^^^^
 *   '
 *   sass\base\_base.scss 1:9  @import
 *   sass\main.scss 4:28       root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: Can't find stylesheet to import.\a   \2577 \a 1 \2502  @import \"sass/abstracts/variables\";\d\a   \2502          ^^^^^^^^^^^^^^^^^^^^^^^^^^\a   \2575 \a   sass\\base\\_base.scss 1:9  @import\a   sass\\main.scss 4:28       root stylesheet";
}
